.chgd { background: powderblue; }
.newsong { background-color: yellow; }
.reqd { background-color: lightgreen; }
td,th { padding: 6px; }
td,th { border-style: solid; border-color: black; border-width: 2px; }
textarea { overflow-wrap: break-word; border: none; background-color: transparent; resize: none; outline: none; }
textarea { font-family: Arial; font-size: 18px; height: 1.3em; }
textarea:focus { border-style: solid; }
th { background-color: lightgreen; border-bottom: solid 2px; font-family: Arial; font-size: 18px; }
tr:nth-child(even) { background: #CCC }
tr:nth-child(odd) { background: #FFF }
table { border-style: solid; border-collapse: collapse; border-width: 2px; border-color: black; }
@media print {
  @page { size: letter portrait; margin: .25in; }
  html, body { width: 8.0in; height: 90%; }
}
