.catperf { width: 100%; }
.catperf, #cheatTable { border-color: black; border-style: solid; border-width: 5px; }
#cheatTable tr td
    { border-color: black; border-style: solid; border-collapse: collapse; font-family: Arial;
    font-size: 18px; font-weight: bold; border-width: 1px; }
.never { background-color: yellow; }
.qtet { background-color: blue !important; color: white !important; }
.qtet a { background-color: blue !important; color: white !important; }
.select-css {
	display: inline-block; width: auto;
    text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.1;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}
table, tbody {
    font-family:Arial; font-size: 20px;
    border-width:5px; border-collapse: collapse;
    padding: 4px;
    min-width: 400px;
}
tr { page-break-inside: avoid; }
th { background-color:lightgreen; font-weight: bold; vertical-align: text-top; text-align: center; }
td { padding: 4px; text-align: center; }
.chosen { background-color: lightblue; }
.hidden { display: none; }
.donebutt { font-weight: bold; background-color: yellow; font-size: 20px; }
body{ -webkit-print-color-adjust:exact; }
<!-- select-css from https://www.filamentgroup.com/lab/select-css.html -->
.key, .pitch { text-align: center; }
.tabletitle { background-color: lightgreen; text-align: center; font-size: 24px; border-bottom: solid 5px; }
tr:nth-child(even) { background: #CCC }
tr:nth-child(odd) { background: #FFF }
.partsel { text-align: center; background: lightgreen; }
@media print {
  @page { size: letter portrait; margin: .5in; }
  body { max-width: 5.5in; }
  table { font-size: 12px; }
  td { padding: 4px; }
  .tabletitle { font-size: 18px; }
}
#currsumm { margin-left: 12px; }
#allsumm { margin-right: 30px; }
#since { margin-right: 12px; font-size: 18px; font-weight: bold; }
select:invalid { color: gray; }
.ui-dialog-title { font-size: 20px; align-text: middle; }
