/*
Source - https://stackoverflow.com/a/49395765
Posted by Makyen, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-01, License - CC BY-SA 4.0
*/

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: gold;
    color: #111;
    // font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 10%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
.ttwrap {
    /*This causes the wrapping element to be the same size as what it contains.*/
    display: inline-block;
}
