/* $Id: cheat.css,v 1.1 2022/07/05 22:34:24 dfm Exp $ */
#wrapper { max-width: 800px; }
#main_table { width: 100%; }
tfoot { text-align: center; background: lightgreen; }
.key, .pitch { text-align: center; }
tr, td { border: solid 2px; padding: 6px; }
.tabletitle { background-color: lightgreen; text-align: center; font-size: 24px; }
.butts { background: lightgreen; }
.voices { background: lightgreen; }
.hidden { display: none; }
.qtet { background-color: blue !important; color: white !important; }
.qtet a { background-color: blue !important; color: white !important; }
tr:nth-child(even) { background: #CCC }
tr:nth-child(odd) { background: #FFF }
.cheat { border-collapse: collapse; border: solid 5px;
    font-family: Arial; font-size: 18px; font-weight: bold; }
@media print {
  #selev, #wrap, .ui-dialog-titlebar {
    visibility: hidden;
  }
  @page { size: letter portrait; margin: .5in; }
  body { max-width: 5.5in; }
  table { font-size: 12px; }
  td { padding: 4px; }
  .tabletitle { font-size: 18px; }
}
