/* $Id: songsumm.css,v 1.1 2022/07/30 17:52:40 dfm Exp $ */
input[type='button'] { font-size:18px; font-weight: bold; border-radius: 12px;
    background-color: brown; color: white; border: 3px solid black; padding: 5px; margin: 3px; }
input[type='date'] { font-size:18px; font-weight: bold; }
label, input[type="checkbox"] { display: inline-block; vertical-align: middle; }
#eventTable td { border: solid 2px black; }
#eventTable table { width: 100%; }
caption { background-color: lightgreen; font-size: 24px; font-weight: bold; padding-top: 12px !important; }

.catperf { border-color: black; border-style: solid; border-width: 5px; }
.never { background-color: yellow; }
table, tbody {
    font-family:Arial; font-size: 20px;
    border-width:5px; border-collapse: collapse;
    padding: 4px;
    min-width: 400px;
}
tr { page-break-inside: avoid; }
th { background-color:lightgreen; font-weight: bold; vertical-align: text-top; text-align: center; }
td { padding: 4px; text-align: center; }
body{ -webkit-print-color-adjust:exact; }
tr:nth-child(even) { background: #CCC }
tr:nth-child(odd) { background: #FFF }
select:invalid { color: gray; }
